html {
  box-sizing: border-box;
  height: 100%;
  font-size: $font-size-base;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  @include antialiased;
  @include text-break;

  background: $body-background-color;
  line-height: $line-height-base;
  color: $body-color;
  font-family: $font-family-sans-serif;

  &.not-editor {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 100%;
  }

  &.admin-bar {
    @include breakpoint-max(782) {
      margin-top: 46px;
      height: calc(100% - 46px);
    }
  }
}

main {
  flex: 1 0 auto;
  width: 100%;
}

.hidden {
  display: none !important;
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $headings-margin-bottom;
  line-height: $headings-line-height;
  color: $headings-color;
  font-family: $font-family-sans-serif-narrow;
  font-weight: 500;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

h3 {
  @include font-size($h3-font-size);
}

h4 {
  @include font-size($h4-font-size);
}

h5 {
  @include font-size($h5-font-size);
}

h6 {
  @include font-size($h6-font-size);
}

hr {
  margin: $spacer 0;
  border: 0;
  border-top: 1px solid $black;
}
