$default-margin: 20px

$content-h1-fz: 60px
$content-h1-lh: 60px
$content-h2-fz: 40px
$content-h2-lh: 40px
$content-h3-fz: 20px
$content-h3-lh: 28px
$content-h4-fz: 20px
$content-h4-lh: 30px
$content-h5-fz: $default-font-size
$content-h5-lh: $default-line-height
$content-h6-fz: 16px
$content-h6-lh: 24px

%h1
  margin-bottom: 13px
  text-align: center
  text-transform: uppercase
  line-height: $content-h1-lh
  color: $black
  font-family: $font-title
  font-size: $content-h1-fz
  font-weight: 700

%h2
  margin-top: 12px
  margin-bottom: 48px
  text-align: center
  text-transform: uppercase
  line-height: $content-h2-lh
  color: $black
  font-family: $font-title
  font-size: $content-h2-fz
  font-weight: 700

%h3
  margin-bottom: $default-margin
  text-transform: uppercase
  line-height: $content-h3-lh
  font-size: $content-h3-fz
  font-weight: 700

%h4
  margin-bottom: 66px
  line-height: $content-h4-lh
  color: $black
  font-family: $font-content-serif
  font-size: $content-h4-fz
  font-weight: 700
  font-style: italic

%h5
  margin-bottom: $default-margin
  line-height: $content-h5-lh
  font-size: $content-h5-fz
  font-weight: 700

%h6
  margin-bottom: $default-margin
  line-height: $content-h6-lh
  font-size: $content-h6-fz
  font-weight: 700

%link
  text-decoration: underline
  color: $white

%dl
  display: flex
  flex-wrap: wrap
  justify-content: center
  opacity: 0.3
  margin-bottom: 30px
  text-transform: uppercase
  line-height: 22px
  color: $black
  font-size: 14px
  font-weight: 400
  font-style: normal

  dt
    margin-right: 4px

  dd
    font-weight: 700

  dd:not(:last-child)
    margin-right: 20px

.content,
%content
  text-align: justify
  line-height: $default-line-height
  color: $text-clr
  font-family: $font-content
  font-size: $default-font-size
  word-break: break-word
  word-wrap: break-word

  hr
    display: block
    margin: $default-margin 0
    outline: none
    border: 0
    background: $text-clr
    padding: 0
    height: 1px

  p
    margin-bottom: $default-margin

  .button
    margin-bottom: $default-margin

  ul
    margin: 0
    margin-bottom: $default-margin
    padding: 0

    li
      position: relative
      padding-left: 20px

      &::before
        display: block
        position: absolute
        top: 10px
        left: 0
        opacity: 0.5
        border-radius: 50%
        background-color: $black
        width: 6px
        height: 6px
        content: ''

  ol
    margin: 0
    margin-bottom: $default-margin
    padding: 0
    list-style-type: none

    li
      position: relative
      padding-left: 20px
      counter-increment: step-counter

      &::before
        display: block
        position: absolute
        left: 0
        opacity: 0.7
        color: $black
        content: counter(step-counter) '.'

  i,
  em
    font-style: italic

  strong,
  b
    font-weight: bold

  sup,
  sub
    position: relative
    vertical-align: baseline
    line-height: 0
    font-size: 75%

  sup
    top: -0.5em

  sub
    bottom: -0.25em

  table
    margin-bottom: $default-margin
    width: 100%

  th
    font-weight: 700

  td,
  th
    border: 1px solid #000
    padding: 5px 10px

  img
    max-width: 100%
    height: auto

  dl
    justify-content: flex-start
    text-align: left

  pre
    white-space: normal

  .alignnone
    margin: $default-line-height 0

  .aligncenter
    display: block
    clear: both
    margin: $default-line-height auto

  .alignright
    float: right
    clear: right
    margin: $default-line-height 0 default-line-height default-line-height

  .alignleft
    float: left
    clear: left
    margin: $default-line-height default-line-height default-line-height 0

  img.alignnone
    display: inline-block
    vertical-align: middle
