@use "sass:math";

.content {
	text-align: justify;
	font-family: $font-family-serif;

	p,
	ul,
	ol,
	table {
		margin: 0 0 $spacer;
	}

	ul,
	ol {
		padding: 0;

		li {
			@include position-relative;

			padding-left: calc(#{$font-size-base} + 4px);
		}
	}

	ul {
		li {
			&::before {
				@include position-absolute(calc(#{$line-height-base * $font-size-base} / 2 - 3px), auto, auto, 0);

				opacity: 0.75;
				border-radius: 50%;
				background-color: $black;
				width: 6px;
				height: 6px;
				content: "";
			}
		}
	}

	ol {
		list-style-type: none;

		li {
			counter-increment: step-counter;

			&::before {
				@include position-absolute(auto, auto, auto, 0);

				opacity: 0.75;
				content: counter(step-counter) ".";
			}
		}
	}

	table {
		width: 100%;
	}

	th,
	td {
		border: 1px solid $black;
		padding: math.div($spacer, 4) math.div($spacer, 2);
	}

	th {
		font-weight: bolder;
	}

	a {
		color: $body-color;

		&:hover,
		&:active {
			text-decoration: none;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	pre {
		overflow: auto;
		white-space: normal;
	}
}
