.wp-caption
  display: block
  opacity: 1
  margin-bottom: $default-line-height
  max-width: 100%
  text-transform: none

  img
    display: block
    margin: 0
    border: 0
    padding: 0
    width: 100%
    height: auto

  .wp-caption-dt
    display: block
    margin: 0
    padding: 0

  .wp-caption-text,
  .wp-caption-dd
    display: block
    opacity: 0.5
    margin: 0
    border-bottom: 1px solid #000
    padding: 12px 0 13px
    line-height: 27px
    color: $black
    font-size: 14px
    font-weight: 400
    font-style: italic

  dl
    opacity: 1
    margin: 3px 0 0

  p
    margin: 0
