.global-wrapper
  position: relative
  flex: 1 0 auto
  min-width: 320px
  height: 100%
  box-sizing: border-box

.main-wrapper
  position: relative
  flex: 1 0 auto
  width: 100%
  overflow: hidden
  box-sizing: border-box

.wrapper
  margin: 0 auto
  padding-right: $wrapper-padding
  padding-left: $wrapper-padding
  max-width: $wrapper-outer
  box-sizing: border-box

.wrapper-thin
  padding-right: $wrapper-padding + 80px
  padding-left: $wrapper-padding + 80px

#content
  padding-top: 40px
  padding-bottom: 40px
