{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "useBuiltIns": "entry",
      "corejs": 3
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", {
      "loose": true
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}
