{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", {
      "loose": true
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-transform-runtime"]
  ]
}
