{
  "presets": [["@babel/preset-env", { "loose": true }], "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-transform-react-jsx-source"],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
