{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jquery": true,
    "es6": true,
    "serviceworker": true,
    "worker": true
  },
  "rules": {
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
  }
}