.grid-box
  display: flex
  flex-wrap: wrap
  margin-left: - margin($default-grid-margin, $default-grid-wrapper)

  [class*="grid"]
    display: flex
    flex-direction: column
    margin-bottom: 60px
    margin-left: margin($default-grid-margin, $default-grid-wrapper + $default-grid-margin)

  .grid-1-1
    width: 100%

  .grid-1-2
    width: width(($default-grid-wrapper - $default-grid-margin)/2, $default-grid-wrapper + $default-grid-margin)

  .grid-1-3
    width: width(($default-grid-wrapper - 2*$default-grid-margin)/3, $default-grid-wrapper + $default-grid-margin)

  .grid-2-3
    width: width(($default-grid-wrapper - 2*$default-grid-margin) *2/3 + $default-grid-margin, $default-grid-wrapper + $default-grid-margin)

    article + article
      margin-top: margin($default-grid-margin - 10px, ($default-grid-wrapper - 2*$default-grid-margin)/3)
